<!DOCTYPE html>
<html>
<head>
    <title>Gaming Website</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head> 
<body>
<header>
    <ul class="main-nav">    
        <li class="active"><a href="index.html"> HOME </a></li>
        <li><a href="BlendiDiv.html"> FAMOUS GAMES </a></li>
        <li><a href="http://oceanofgames.com/"> DOWNLOAD </a></li>
        <li><a href="about.html"> ABOUT </a></li>
        <li><a href="https://discord.gg/KNum28"> CONTACT </a></li>
        <li><a href="https://www.wikipedia.org/"> NEWS </a></li>
        <li><a href="https://1v1.lol/"> PLAY ONLINE </a></li>
    </ul>    
        <div class="row">
        <div class="logo">
        <img src="test.png">
		<div class="white">
		<h2>Gaming Website</h2>
		</div>
        </div>
    </div>
        
    <div class="hero">
    <h1>Are You Ready?</h1>
        
    <div class="button">
        <a href="https://www.youtube.com/watch?v=7V-WoDzDV2Q" class="btn btn-one"> Watch Video</a>
        <a href="https://store.steampowered.com/" class="btn btn-two"> Download Free Games</a>
    </div>    
            
    </div>
    
    </header>

        
</body>    
</html>
